<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAud5BzEmyiZDT12Vs2WVnG-7FcNgsqEpo</string>
	<key>GCM_SENDER_ID</key>
	<string>541373362556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homechat</string>
	<key>PROJECT_ID</key>
	<string>homechat-335ba</string>
	<key>STORAGE_BUCKET</key>
	<string>homechat-335ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541373362556:ios:637f4640e993cec5a3b4f9</string>
</dict>
</plist>